<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
	</System.Windows.Forms.ApplicationConfigurationSection>
	<configsections>
		<sectiongroup name="usersettings" type="system.configuration.usersettingsgroup, system, version=4.0.0.0, culture=neutral, publickeytoken=b77a5c561934e089" >
			<section name="gui.properties.settings" type="system.configuration.clientsettingssection, system, version=4.0.0.0, culture=neutral, publickeytoken=b77a5c561934e089" allowexedefinition="machinetolocaluser" requirepermission="false" />
		</sectiongroup>
	</configsections>
	<userSettings>
		<GUI.Properties.Settings>
			<setting name="RememberMe" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value>""</value>
			</setting>
			<setting name="PassWord" serializeAs="String">
				<value>""</value>
			</setting>
		</GUI.Properties.Settings>
	</userSettings>
</configuration>